<!DOCTYPE html>

<html>
  
  <head>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by xedge. It uses data  from mapbox.com and weatherstack.com</p>
    </div>
     {{>footer}}
  </body>
  
</html>